/*左側のスタイル*/
.left-side-space { 
  width: 50%; 
  background-color: #2c3038; 
  padding: 20px; color: #ddd; 
  display:flex; 
  flex-direction: column; 
  overflow:auto; 
  border-right: 5px solid #4D5362; 
} 

.left-tab-container { 
  display:flex; 
  border-left:3px solid #4D5362; 
} 

.left-tab1, .left-tab2 { 
  padding: 10px 20px; 
  cursor:pointer; 
  display: flex; 
  align-items: center; 
  border-right: 3px solid #4D5362; 
  flex:1;
  position : relative;
} 

.tab-divider { 
  width: 3px; 
  height: 100%; 
  background-color: #4D5362; 
} 

.left-tab-selected::after {
  content: ""; /* 擬似要素で下線を作成 */
  position: absolute;
  bottom: 0; /* タブの下端に配置 */
  left: 10px; /* 左側のグレー線から5pxの余白を取る */
  right: 10px; /* 右側のグレー線から5pxの余白を取る */
  height: 2px; /* 下線の太さ */
  background-color: white; /* 下線の色 */
  border-radius: 1.5px; /* 下線の角を少し丸くする */
}

.tab-content-container { 
  margin-top: 10px; 
} 

.tab-content { 
  padding: 20px;
}


/* 右側のエディタ部分 */
.editor {
  width: 50%; /* 右側の幅を50% */
  background-color: #2c3038;
  padding: 20px;
  display: flex; /* FlexboxでAce Editorを管理 */
  flex-direction: column; /* 縦方向の配置 */
  height: 100%; /* 親の高さを継承 */
}

/* エディタのヘッダー */
.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.editor-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.editor-mode-select {
  padding: 5px 10px;
  border-radius: 16px; /* 角を丸くする */
  border: none;
  font-size: 14px;
  background-color: #4d5362; /* 背景色 */
  color: white; /* 文字色 */
  cursor: pointer;
}

.editor-mode-select:hover {
  background-color: #3c4b5a;
}

/* 入力出力表示エリア */
.io-container {
  background-color: #1a2a3d;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px; /* 角を丸くする */
  min-height: 80px;
}

/* ボタンコンテナ */
.button-container {
  display: flex;
  justify-content: flex-end; /* 右寄せ */
  margin-top: 10px;
}


/* 実行ボタンと提出ボタン */
.submit-button {
  padding: 8px 20px;
  margin-left: 10px; /* ボタン間にスペース */
  background-color: #79A8FF; /* ボタンの背景色 */
  color: white;
  border: none;
  border-radius: 16px; /* 角を丸くする */
  font-size: 14px;
  cursor: pointer;
}

.run-button{
  padding: 8px 20px;
  margin-left: 10px; /* ボタン間にスペース */
  background-color: #ffffff; /* ボタンの背景色 */
  color: #5691d4;
  border: none;
  border-radius: 16px; /* 角を丸くする */
  font-size: 14px;
  cursor: pointer;
}

.setting-button{
  width: 26px;
  height: 26px;
  margin-left:auto;
  margin-right:8px;
  margin-bottom: 2px;
  border:none;
  background-color: #2c3038;
  cursor:pointer;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.setting-button:hover{
  background-color: #3c4b5a;
  box-shadow: 0 0 10px #c7c6c3;
  border-radius: 50%;
}

.setting-button img{
  width: 100%; /* 画像の幅を100%に */
  height: 100%; /* 画像の高さを100%に */
  border-radius: 50%;
}

.popup-settings { 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #2c3038; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
  padding: 20px;
  width: 300px; /* 必要に応じて値を調整 */
  z-index: 1000;
  border : none;
}

.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999
}

.close-button { 
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background: none; 
  border: none; 
  font-size: 18px; 
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.font-mode-select { 
  display: flex; align-items: center; 
} 

.font-mode-select button { 
  padding: 5px 10px; 
  border-radius: 16px; 
  border: none; 
  font-size: 14px; 
  background-color: #4d5362; 
  color: white; 
  cursor: pointer; 
  margin: 0 5px; 
} 

.font-mode-select button:hover { 
  background-color: #3c4b5a; 
} 

.font-mode-select input[type="number"] { 
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari, Edge, Chrome */
  appearance: none; /* Standard syntax */
  width: 50px; 
  padding: 5px; 
  border-radius: 16px; 
  border: none; 
  font-size: 14px; 
  background-color: #4d5362; 
  color: white; 
  text-align: center;
}

.popup-header{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px; 
  border-bottom: 1px solid #ccc; 
  padding-bottom: 5px;
}

.popup-content label {
  display: block;
  margin-bottom: 10px; /* label同士の間に少しスペースを空ける */
}
.submit-button:hover {
  background-color: #5691d4; /* ホバー時の色 */
}

.run-button:hover{
  background-color: #d4d4d4;
}