.left-side-space {
  flex:1;
  width: 50%;
  background-color: #2c3038; 
  padding: 20px; 
  color: #ddd; 
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  border-right: #4D5362 5px solid;
}

.editor-container{
  flex:1;
  width: 50%;
  background-color: #2c3038; 
  padding: 20px; 
  color: #ddd; 
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.left-tab-container { 
  display:flex; 
  border-left:3px solid #4D5362; 
} 

.left-tab1, .left-tab2 { 
  padding: 10px 20px; 
  cursor:pointer; 
  display: flex; 
  align-items: center; 
  border-right: 3px solid #4D5362; 
  flex:1;
  position : relative;
} 

.tab-divider { 
  width: 3px; 
  height: 100%; 
  background-color: #4D5362; 
} 

.left-tab-selected::after {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 10px; 
  right: 10px; 
  height: 2px; 
  background-color: white; 
  border-radius: 1.5px; 
}

.tab-content-container { 
  margin-top: 10px; 
} 

.tab-content { 
  padding: 20px;
}

.outer-container { 
  display: flex; 
  flex-direction: row; 
  height: calc(100vh - 60px);
  width: 100%;
}