.problem-container {
    color: #eee;
    background-color: #2c3038;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

/*スクロールバーの設定*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #383f4d;
}

::-webkit-scrollbar-track {
    background: #2c3038;
}

.problem-title {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 10px;
    border-bottom: 3px solid #4d5362;
    border-top: 3px solid #4d5362;
}

.problem-title h2 {
    margin-top: 0;
    color: white;
    font-size: 30px;
}

.problem-title p {
    margin-top: 5px;
    font-size: 15px;
}

.problem-statement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
    padding: 10px;
    margin-bottom: 100px;
}

.problem-statement h3 {
    margin-top: 10px;
}

.problem-statement pre {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 0;
    width: min(95%, 800px);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.problem-statement pre:hover {
    cursor: text;
}


.problem-statement summary {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.problem-statement details {
    width: 95%;
    margin-top: 10px;
    border: 1px solid #4d5362;
    border-radius: 5px;
}

.problem-statement details > div {
    margin: 15px;
}

.problem-statement summary:hover {
    background-color: #4d5362;
    cursor: pointer;
}

.problem-statement h1 {
    margin-top: 10px;
    font-size: 25px;
}

.problem-statement h2 {
    margin-top: 40px;
}

.problem-statement p {
    margin-top: 10px;
}

.problem-statement ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.problem-statement ol {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 20px;
}

.problem-statement li {
    margin-top: 5px;
}

.checkmark-icon {
    margin-left: 8px;
}