
.problem-container {
    color: #ddd;
    background-color: #2c3038;
    height : 100%;
    overflow: auto;
    margin :0;
    padding : 0;
}

.problem-title{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding : 10px;
    color: white;
    margin-bottom: 2px;
    margin-top:10px;
    border-bottom:3px solid #4d5362;
    border-top :3px solid #4d5362;
}

.problem-title h2{
    margin-top: 0;
}

.problem-statement{
    display : flex;
    flex-direction: column;
    align-items: flex-start;
}

.problem-statement h3, .problem-statement pre { 
    display: inline-block; 
    vertical-align: top; /* 上揃え */ 
    margin-right: 10px; /* 間隔を調整 */
}

.problem-statement pre {
    background-color: black;
}

.problem-statement h2{
    margin-top: 20px;
}

.problem-statement p{
    margin-top: 0px;
}
