.result-details-container {
    width: 100%;
    background-color: #2c3038;
    padding: 20px;
    color: #ddd;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.result-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.result-summary {
    color: #eee;
    background-color: #2c3038;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.result-code {
    display: flex;
    flex-direction: column;
    height: calc(60vh - 30%);
    overflow: hidden;
}


.result-details-container summary {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.result-details-container details {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #4d5362;
    border-radius: 5px;
}

.result-details-container details > div {
    margin: 15px;
}

.result-details-container summary:hover {
    background-color: #4d5362;
    cursor: pointer;
}